body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}

html {
	height:100%; 
	background:-webkit-gradient(radial, 150% 50%, 0, 100% 100%, 1000, from(#DE8F3B), to(#54271A)) #6d2306 fixed;
	}	

h1{
	font: bold 2.7em Helvetica, Sans-Serif; 
	color: #000000;
	text-shadow: 0px 1px 2px #b4d1ad;
}

/* CSS for index.html */
#title{
	display: block; 
	text-align: center;
}



#logo {
	width: 374px;
	position: absolute;
	top: 19%;
	right: 10%;
	opacity: .7;
	z-index: -5;
	}

.button{
	display: block; 
	width: 9em; 
	height: 9em; 
	margin: 4%;
	padding; 0px, 100px, 0px, 0px;
	background: #DE8F3B; /* old browsers */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#DE8F3B), color-stop(100%,#925325)); /* webkit */
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	border: 5px solid #F8B42E;
	border-radius: 25px;
	text-decoration: none;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
	
}

.btntext{
	font: bold 1.7em Helvetica, Sans-Serif; 
	display: block;
	text-transform: uppercase; 
	text-decoration: none;
	text-align:center;
	color: #40291E;
	margin-left:auto;
	margin-right:auto;
	margin-top: 1.4em;
	text-shadow: 0px 1px 2px #b4d1ad;
	
}

#navbuttons{
padding-left: 12%;
}

/*CSS for newrecords.html */

#form{
margin: 15px;
width: 75%;
}

select{
	-webkit-appearance: none;
	height: 33px; 
	padding: 5px 5px 0px 10px; 
	margin: 0px 0px 10px 0px;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #A9A9A9; 
}


.label {
	margin: 15px 15px 0 0; 
	width: 10%;
	text-align: right; 
	font: 20px Helvetica, Sans-Serif;
	font-weight: 600;
	color: #000000; 
	text-shadow: 0px 1px 2px #b4d1ad;
}

input.field {
	max-width: 33%; 
	height: 25px; 
	padding: 5px 5px 0px 10px; 
	margin: 0px 0px 10px 0px;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #A9A9A9; 
}
	
input.field select{
	margin 0px;
}
textarea {
	width: 500px; 
	height: 170px; 
	padding: 12px 20px 0px 20px; 
	margin: 0 0 0px 0;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #A9A9A9; 
}
	
.submit{
	display: inline;
	float: left;
	width: 100px;
	height: 35px; 
	margin: 11px;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #000000; 
	padding: 3px 0 12px 0;
	text-align: center;
}

#back{
	display: inline;
	float: left;
	width: 100px;
	height: 35px; 
	margin: 11px;
	padding: 5px;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #000000; 
	text-decoration: none;
	text-align: center;
}

#back.linkbutton {
	height: 21px;
}

.linkBtn{
	display: inline-block;
	width: 100px;
	height: 21px; 
	margin: 11px;
	padding: 5px;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #000000; 
	text-decoration: none;
	text-align: center;
}

#addDist, #RefreshDist {
	width: 26px;
	height: 26px;
	display: inline-block;
	}	

#RefreshDist {background: url("../img/refresh.png") no-repeat;}
#addDist {background: url("../img/plus.png") no-repeat;}
#logo2 {
	width: 374px;
	position: absolute;
	top: 1px;
	right: 20px;
	opacity: .5;
	z-index: -5;
	}

.trashicon {
	display: inline-block;
	width: 20px;
	height: 28px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/trashbin.png");
	position: absolute;
}

#beforeImage {
	width: auto;
	max-height:300px;
	height: auto;
	max-width: 300px;
	position: absolute;
	top: 80px;
	right: 100px;
	opacity: 1;
	}

	#bfrstar {
	position: absolute;
	top: 390px;
	right: 190px;
	}	
	#before.trashicon {top: 385px; right: 120px;}
#afterImage {
	width: auto;
	max-height:300px;
	height: auto;
	max-width: 300px;
	position: absolute;
	top: 425px;
	right: 100px;
	opacity: 1;
	}
	
	#aftstar {
	position: absolute;
	top: 735px;
	right: 190px;
	}
	#after.trashicon {top: 735px; right: 120px;}

#addDistDiv {
margin: 10px;
}
	
/*Search Page CSS*/
.search {
	padding 10px;
}

#searchbtn{
	display: inline;
	float: left;
	width: 100px;
	height: 35px; 
	margin: 11px;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #000000; 
	padding: 3px 0 12px 0;
	text-align: center;
	font-weight: normal;
}

#searchfield {
	display: inline;
	float: left;
	width: 400px;
	height: 25px; 
	margin: 11px;
	background: #54271A;
	border: inset 2px #000000;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 10px #401B1E;
	-webkit-box-shadow: inset 0px 0px 10px #401B1E;
	font: Helvetica, Sans-Serif 16px; 
	color: #000000; 
	padding: 5px;
}

#btncontainer{
	display: inline;
	float: left;
}

#srchtext{
	display: block;
	float: left;
	margin: 15px; 
	width: 100%;
	text-align: left; 
	font: 20px Helvetica, Sans-Serif;
	font-weight: 600;
	color: #000000; 
	text-shadow: 0px 1px 2px #b4d1ad;
}
#searchresults
{
border-collapse:collapse;
display: block;
margin: 50px 5px 10px;
float: left;

}

table {
border-collapse:collapse;
}

table, th, td {
border: 1px solid #401B1E;
font: 12px Helvetica, Sans-Serif;
}

table td {
text-align: center;
}

#resultshead {
	font: 9px Helvetica, Sans-Serif;
	font-weight: 600;
	color: #000000; 
	text-shadow: 0px 1px 2px #b4d1ad;
}

#resultsbody {
	width: 95%;
	margin 10px;
	text-align: center;
	overflow:hiddden;
}

.images {
	width: auto;
	max-height:100px;
	height: auto;
	max-width: 100px;
}

#story {
	max-height: 50px;
	white-space: nowrap;
	overflow: hidden;
}

span.read-more a, span.read-less a{
	text-decoration: none;
	color: #000000;
	font: 12px;
	font-weight: bold;
	}
	
/*Reports Page CSS --- See visualize.css and visualize-dark.css for Chart CSS*/

#report {
	}
#loading {
	display:none; 
	z-index: 1000;
	position:fixed; 
	left:0; top:0; 
	width:100%; 
	height:100%;
    background-image:url("img/transparentbg.png"); }
}
	

.reportTable {
	border-collapse:collapse;
}

#totalcontainer {
	display: block;
	position: relative;
	width: 900px;
	height 100px;
	clear: both;
	}
#total {
	position: absolute;
	height: 50px;
	width: 250px;
	top: 0px;
	left: 232px;
	font: bold 20px Helvetica, Sans-Serif; 
	color: #000000;
	text-shadow: 0px 1px 2px #b4d1ad;
	}
	
#savedTotal {
	position: absolute;
	height: 50px;
	width: 370px;
	top: 0px;
	left: 422px;
	font: bold 20px Helvetica, Sans-Serif; 
	color: #000000;
	text-shadow: 0px 1px 2px #b4d1ad;
	}

td {
	min-width: 22px;
	text-align: right;
}

th {
	font: bold 1.3em Helvetica, Sans-Serif; 
	color: #000000;
	text-shadow: 0px 1px 1px #b4d1ad;
	padding: 5px;
}

.noshow {
	border-left-style: hidden;
	border-right-style: hidden;
	border-top-style: hidden;
}

caption {
	font: bold 1.5em Helvetica, Sans-Serif; 
	color: #000000;
	text-shadow: 0px 1px 2px #b4d1ad;
	}
	
#gendercontainer  {
	position: relative;
	margin-top: 50px;
	margin-left: 20px;
	height: 300px;
	width: 420px;
	float: left;
	}
	
#genderTable{
	position: absolute;
	top: 100px;
	left: 10px;
}

#genderchart{
	position: absolute;
	top: 3px;
	left:90px;
}

#agecontainer  {
	position: relative;
	margin-top: 20px;
	margin-left: 40px;
	height: 400px;
	width: 500px;
	float: left;
	}
	
#ageTable{
	position: absolute;
	top: 50px;
	left: 10px;
}

#agechart{
	position: absolute;
	top: 3px;
	left:90px;
}

#typecontainer  {
	position: relative;
	margin-top: 10px;
	margin-left: 142px;
	height: 320px;
	width: 700px;
	float: left;
	}
	
#typeTable{
	position: absolute;
	top: 50px;
	left: 10px;
}

#typechart{
	position: absolute;
	top: 3px;
	left:175px;
}

#causecontainer  {
	position: relative;
	margin-top: 40px;
	height: 300px;
	width: 480px;
	float: left;
	}
	
#causeTable{
	position: absolute;
	top: 60px;
	left: 10px;
}

#causechart{
	position: absolute;
	top: 3px;
	left:125px;
}

#lengthcontainer  {
	position: relative;
	margin-top: 10px;
	margin-left: 5px;
	height: 350px;
	width: 500px;
	float: left;
	}
	
#lengthTable{
	position: absolute;
	top: 50px;
	left: 5px;
}

#lengthchart{
	position: absolute;
	top: 3px;
	right:0px;
}

#devicecontainer  {
	position: relative;
	margin-top: 10px;
	margin-left: 217px;
	height: 420px;
	width: 550px;
	float: left;
	}
	
#deviceTable{
	position: absolute;
	top: 50px;
	left: 5px;
}

#devicechart{
	position: absolute;
	top: 3px;
	right:0px;
}

.edit {height: 15px; width: 15px;display: block; margin: 5px auto;}
	.edit.editRecord {background: url("../img/gear.png") no-repeat;}
	.edit.donorCard {background: url("../img/print.png") no-repeat;}
/*
Color scheme in program
401B1E,F8B42E,DE8F3B,925325,54271A
*/