/* page styles */
#report { font-size:62.5%; }

/*visualize extension styles*/
.visualize { margin: 0px; padding: 60px 40px 60px; background: none; /*border: 1px solid #000; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;*/ }
.visualize canvas { border: none; margin: -1px; background: none; }
.visualize-labels-x, .visualize-labels-y { top: 70px; left: 40px; z-index: 100; }
.visualize-pie .visualize-labels { position: absolute; top: 70px; left: 40px; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { color: #000000; font-size: 1.2em; padding-right: 0px;}

.visualize-labels-y li span.line { border-style: dotted;  opacity: .6; }
.visualize .visualize-info { border: 0; position: static;  opacity: 1; background: none; }
.visualize .visualize-title { position: absolute; top: 5%; color: #000000; text-shadow: 0px 1px 2px #b4d1ad; margin-bottom: 0; left: 20px; font-size: 2.1em; font-weight: bold; display: none;}
.visualize ul.visualize-key { position: absolute; bottom: 15px; background: none; z-index: 10; padding: 10px 0; color: #aaa; width: 100%; left:60px;  }
.visualize ul.visualize-key li { font-size: 1.2em;  margin-left: 20px; padding-left: 18px; }
.visualize ul.visualize-key .visualize-key-color { width: 10px; height: 10px;  margin-top: -4px; }
.visualize ul.visualize-key .visualize-key-label { 	color: #000000; text-shadow: 0px 1px 2px #b4d1ad; }



